modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "openssl", "rustc"]

[userenv]

[userenv.shared]
ADMIN_ID = "5363369071"
API_HASH = "96412da2f1643c3d0ee8ef9ae9f01ed2"
API_ID = "36629799"
BOT_TOKEN = "8370546349:AAEYMwAujjJWtCApGxejtL24NsH2fiqJHA0"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltbG9mZHF0bXNmZnRudXNrZ2JxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU1ODQyMCwiZXhwIjoyMDk0MTM0NDIwfQ.70DENOcMCO2hd8sJ5E9ZhzKplsaOy6k2jqGsvPv62vI"
SUPABASE_URL = "https://ymlofdqtmsfftnuskgbq.supabase.co"
